name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xu-cheng/texlive-debian:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python and venv support
        run: |
          apt-get update
          apt-get install -y python3 python3-pip python3-venv inkscape

      - name: Set up virtual environment
        run: |
          python3 -m venv venv
          echo "VIRTUAL_ENV=$GITHUB_WORKSPACE/venv" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/venv/bin" >> $GITHUB_PATH

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run build
        run: python build.py
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: pdf_document
          path: main.pdf