# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build LaTeX
        uses: xu-cheng/latex-action@4.0.0
        with:
          root_file: main.tex
          latexmk_shell_escape: true
          extra_system_packages: "inkscape"

      - name: Upload Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: PDF Document
          path: main.pdf
